

common --@pip//venv=default
common --@rules_python//python/config_settings:python_version=3.11
common --per_file_copt=.*external.*@-w
common --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
common --features=external_include_paths
